.main {
  margin: 5rem auto;
  margin-top: 15rem;
}

.less {
  width: 90%;
  margin: auto;
}

.heading {
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: -1px;
}

.options {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.option {
  position: relative;
  font-size: 8rem;
  font-weight: bold;
  line-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionDescription {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: normal;
  color: #000;
  text-align: left;
  flex: 0.5;
}

.options hr {
  content: "";
  bottom: 0;
  width: 100%;
  height: 0;
  border: none;
  border-top: 0.05px solid #333;
}

.hidden {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  z-index: -1;
  transform: scaleY(0);
  transition: transform 0.3s;
}

.text {
  flex: 1;
  transition: all 0.3s;
}

.text:hover {
  color: #000;
}

.text:hover ~ .hidden {
  transform: scaleY(1);
}

@media (max-width: 800px) {
  .main {
    margin: 6rem auto;
  }

  .heading {
    font-size: 1rem;
  }

  .option {
    font-size: 4rem;
  }

  .optionDescription {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .optionDescription {
    display: none;
  }
}
