.hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  color: black;

  background-color: white;
  mask: url(/src/assets/test-mask.svg);
  -webkit-mask: url(/src/assets/test-mask.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: var(--cursor-x) var(--cursor-y);
  -webkit-mask-position: calc(var(--cursor-x) - var(--cursor-size) / 2)
    calc(var(--cursor-y) - var(--cursor-size) / 2);
  mask-size: var(--cursor-size);
  -webkit-mask-size: var(--cursor-size);
  pointer-events: none;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

nav {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
  padding: 1.5rem 0;
  text-transform: uppercase;
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-item {
  height: 1.8rem;
  overflow: hidden;
}

.nav-item span {
  margin: 0.4rem;
  display: block;
  cursor: pointer;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 32px;
  position: relative;
  z-index: 1000;
}

.hamburger span {
  background: #fff;
  height: 4px;
  width: 100%;
  transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.animating {
  width: 100vw;
  margin: 70px auto;
}

.about {
  width: 90%;
  height: 50vh;
  margin: auto;
}

.content {
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1rem;
}

.heading {
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: -1px;
}

.whatIDo {
  margin: 5rem auto;
  margin-top: 15rem;
  width: 90%;
}

.options {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.option {
  position: relative;
  font-size: 8rem;
  font-weight: bold;
  line-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionDescription {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: normal;
  color: #000;
  text-align: left;
  flex: 0.5;
}

.options hr {
  content: "";
  bottom: 0;
  width: 100%;
  height: 0;
  border: none;
  border-top: 0.05px solid #333;
}

.options .text {
  flex: 1;
  transition: all 0.3s;
}

.experience {
  min-height: 50vh;
  width: 90%;
  margin: auto;
  margin-top: 10rem;
}

.history {
  margin: 5rem auto;
  width: 90%;
}

.history .option {
  position: relative;
  font-weight: bold;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.year {
  flex: 0.2;
  font-size: 2rem;
  padding: 1rem;
}

.col {
  flex: 1;
  justify-self: left;
}

.role {
  font-size: 2rem;
}

.company {
  font-size: 1rem;
  font-weight: normal;
}

.projects {
  width: 100%;
  margin: auto;
  margin-top: 15rem;
  margin-bottom: 5rem;
}

.projects .heading {
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
}

.projectList {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.projectLink {
  max-width: 100%;
}

.projectElement {
  position: relative;
  height: 50vh;
  max-width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projectElement .dark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  transition: all 0.3s;
}

.projectElement:hover .dark {
  opacity: 0.7;
}

.name {
  font-size: 5rem;
  font-weight: bold;
  z-index: 1;
  opacity: 0;
  transition: all 0.2s;
  text-decoration: none;
  color: #fff;
}

.projectElement:hover .name {
  opacity: 1;
}

.contact {
  width: 90%;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact .heading {
  font-size: 1rem;
  text-align: center;
  font-weight: lighter;
  letter-spacing: -1px;
  margin: 2rem auto;
}

.contact .content {
  position: relative;
  font-size: 3rem;
  width: 60%;
  text-align: center;
  font-weight: bold;
  margin: auto;
  margin-top: 1rem;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}

.footerItem {
  height: 1.8rem;
  overflow: hidden;
}

.footerItem span {
  margin: 0.4rem;
  display: block;
  cursor: pointer;
}

.other {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

@media (max-width: 800px) {
  .projects {
    margin-top: 10rem;
  }

  .projectList {
    grid-template-columns: 1fr;
  }

  .projects .name {
    font-size: 3rem;
  }
}

@media (min-width: 800px) {
  .hamburger {
    display: none;
  }

  .nav-items {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    background: transparent;
    color: white;
  }
}
