.main {
  min-height: 40vh;
  height: auto;
}

.less {
  width: 90%;
  margin: auto;
}

.heading {
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: -1px;
}

.info {
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1rem;
}

@media (max-width: 800px) {
  .heading {
    font-size: 1rem;
  }

  .info {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
  }
}
