.btn {
  display: none;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textRing {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  animation: rotateAnim infinite 6s linear;
  transform-origin: center;
}

@keyframes rotateAnim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  .btn {
    display: block;
  }
}
