footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: auto;
  padding: 2rem;
  border-top: 0.05px solid #333;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}

.footerItem {
  height: 1.8rem;
  overflow: hidden;
}

.footerItem span {
  margin: 0.4rem;
  display: block;
  cursor: pointer;
}

.other {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
