.main {
  margin: 5rem auto;
}

.less {
  width: 90%;
  margin: auto;
}

.heading {
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: -1px;
}

.options {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.option {
  position: relative;
  font-weight: bold;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.options hr {
  content: "";
  bottom: 0;
  width: 100%;
  height: 0;
  border: none;
  border-top: 0.05px solid #333;
}

.text {
  flex: 1;
  transition: all 0.3s;
}

.text:hover {
  color: #000;
}

.text:hover .hidden {
  transform: scaleY(1);
}

.hidden {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  z-index: -1;
  transform: scaleY(0);
  transition: transform 0.3s;
}

.year {
  flex: 0.2;
  font-size: 2rem;
  padding: 1rem;
}

.col {
  flex: 1;
  justify-self: left;
}

.role {
  font-size: 2rem;
}

.company {
  font-size: 1rem;
  font-weight: normal;
}

@media (max-width: 800px) {
  .heading {
    font-size: 1rem;
  }

  .year {
    font-size: 1.2rem;
  }

  .role {
    font-size: 1.2rem;
  }

  .company {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
}
