.main {
  width: 90%;
  margin: auto;
  margin: 70px auto;
  word-break: break-word;
  height: 90vh;
  overflow: hidden;
}

h2 {
  margin: 0;
  font-size: 5rem;
  letter-spacing: -5px;
}

.scrambled-text {
  font-size: 15rem !important;
  line-height: 0.9;
  letter-spacing: -10px;
  text-transform: capitalize;
}

@media (max-width: 800px) {
  h2 {
    font-size: 2rem;
    letter-spacing: -2px;
  }

  .scrambled-text {
    font-size: 10rem !important;
    letter-spacing: -8px;
  }
}

@media (max-width: 600px) {
  .main {
    margin: 50px auto;
    height: 50vh;
  }

  .scrambled-text {
    font-size: 6rem !important;
    line-height: 1;
  }
}
